<?xml version="1.0" encoding="utf-8" ?>
<Settings>
	<Item Name="SettingStartupBehavior" Setting="false" />
	<Item Name="SettingAutomaticUpdates" Setting="false" />
	<Item Name="SettingShowExplorer" Setting="true" />
	<Item Name="SettingTheme" Setting="System Theme" />
	<Item Name="SettingApplicationTitle" Setting="IT Admin Toolkit" />
	<Item Name="SettingApplicationIconImage" Setting="ms-appx:///Assets/Powershell7.ico" />
	<Item Name="SettingReportingLogLocation" Setting="@AppPath/Usage.csv" />
</Settings>